{% extends "extends/index.html" %}
{% load static %}
{% block title %}
Дом
{% endblock %}

{% block style %}

{% endblock %}

{% block header %}
{% include 'education/home/header.html' %}
{% endblock %}

{% block content %}
<!-- Note: class .show is used for demo purposes. Remove it when using it in the real project. -->

<main class="mt-5">
    <div class="container">
        {% include 'education/home/description.html' %}
        <hr class="my-5"/>
        {% include 'education/home/courses.html' %}
        <hr class="my-5"/>
        {% include 'education/home/teachers.html' %}
    </div>

</main>
{% endblock %}
