{% extends 'extends/index.html' %}
{% block title %}
Учителя
{% endblock %}
{% block content %}
<h1 style="padding: 20px; margin-inline-start: 20px;">Учителя</h1>
<div class="teacher-container">
    {% for teacher in teachers %}
    <div class="teacher-card">
        <div class="teacher-face teacher-face1">
            <div class="content">
                <h2>
                    {{ teacher }}
                </h2>
                <p>
                    {{ teacher.about_me }}
                </p>
            </div>
        </div>
        <div class="teacher-face teacher-face2">
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}