{% extends 'extends/index.html' %}
{% block title %}
Учителя
{% endblock %}
{% block content %}
<main class="ms-5">
    <div class="d-flex flex-wrap">
        <div class="teacher-card">
            <span style="--i:0;">
            </span>
            <span style="--i:0;">
            </span>
            <span style="--i:1;">
            </span>
            <span style="--i:2;">
            </span>
            <span style="--i:3;">
            </span>
        </div>
    </div>
</main>
{% endblock %}