{% extends 'extends/index.html' %}
{% block title %}
Учителя
{% endblock %}
{% block content %}
<div class="teacher-container">
    <div class="teacher-card">
        <div class="teacher-face teacher-face1">
            <div class="content">
                <h2>
                    Lorem ipsum dolor, sit amet
                </h2>
                <p>
                    consectetur adipisicing elit. Hic neque quam harum consequatur consectetur id porro in, ratione esse
                    dolor
                    ex eos perspiciatis architecto laborum vero! Eaque inventore illum iusto?
                </p>
            </div>
        </div>
        <div class="teacher-face teacher-face2">
            <h2>01</h2>
        </div>
    </div>

    <div class="teacher-card">
        <div class="teacher-face teacher-face1">
            <div class="content">
                <h2>
                    Lorem ipsum dolor, sit amet
                </h2>
                <p>
                    consectetur adipisicing elit. Hic neque quam harum consequatur consectetur id porro in, ratione esse
                    dolor
                    ex eos perspiciatis architecto laborum vero! Eaque inventore illum iusto?
                </p>
            </div>
        </div>
        <div class="teacher-face teacher-face2">
            <h2>02</h2>
        </div>
    </div>

    <div class="teacher-card">
        <div class="teacher-face teacher-face1">
            <div class="content">
                <h2>
                    Lorem ipsum dolor, sit amet
                </h2>
                <p>
                    consectetur adipisicing elit. Hic neque quam harum consequatur consectetur id porro in, ratione esse
                    dolor
                    ex eos perspiciatis architecto laborum vero! Eaque inventore illum iusto?
                </p>
            </div>
        </div>
        <div class="teacher-face teacher-face2">
            <h2>03</h2>
        </div>
    </div>

</div>
{% endblock %}