{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <title>.sh | {% block title %}{% endblock %}</title>
    {% include 'extends/metrika.html' %}
    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block style %}
    {% endblock %}

</head>
<body>
<!--Messages-->
{% include 'extends/messages.html' %}

<!--Main Navigation-->
{% include "extends/navbar.html" %}

{% block header %}

{% endblock %}
{% block content %}
{% endblock %}

{% include "extends/footer.html" %}

<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>

