{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top" style="z-index: 2000; opacity: 1 !important;">
    <div class="container-fluid">
        <a class="navbar-brand nav-link" href="/">
            <iframe src="{% static 'img/shLogo.svg' %}" style="width: 60px; height: 40px;">
            Ваш браузер не поддерживает SVG
            </iframe>
            <!--<strong>.shSkills</strong>-->
            <!--Count total number of character in '.shSkills' = 9 -->
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/">Домой</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Курсы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teachers">Учителя</a>
                </li>
                {% if request.user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Админка</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav d-flex flex-row">
                {% if not request.user.is_authenticated %}
                <li class="nav-item me-3 me-lg-0">
                    <a type="button" class="nav-link" data-mdb-toggle="modal" data-mdb-target="#exampleModal" href="">
                        Вход
                    </a>
                </li>
                {% else %}
                {% if request.user.student %}
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="/profile/{{request.user.username}}">
                        {{ request.user.student.balance }} ₽
                    </a>
                </li>
                {% endif %}
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="/profile/{{request.user.username}}">
                        Профиль
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<!-- Button trigger modal -->


<!-- Modal -->
{% if not request.user.is_authenticated %}
{% include 'extends/login_and_register.html' %}
{% endif %}