{% extends "extends/index.html" %}
{% load static %}
{% block content %}

<div class="container mt-3">
    <h3>{{ course }}</h3>
    <p class="mt-2">{{ course.description|linebreaks }}</p>
    {% for lesson in course.lessons.all %}
    <div class="row">
        <div class="alert alert-light shadow-5 col-md mt-2 card-animation"
             onclick="window.location='/courses/{{ course.course_id }}/{{ lesson.pk }}';">
            <h3>{{ forloop.counter }}) {{ lesson }}</h3>
            <p class="mt-2">
                {{ lesson.description }}
            </p>
        </div>
    </div>
    {% endfor %}
    {% if request.user.is_admin %}

    {% include 'education/unique_course/modal_window.html' %}

    {% endif %}
</div>
{% endblock %}