{% extends "extends/index.html" %}
{% load static %}
{% block title %}
Курсы
{% endblock %}
{% block content %}

<h1 class="ms-3 mt-5">Курсы</h1>

<div class="container">
    {% for courses_list in courses %}
    <div class="row d-flex justify-content-center">
        {% for course in courses_list %}
        <div class="card text-white bg-{{ course.color }} mb-3 mt-2 ms-3 me-3" style="max-width: 30rem;">
            <div class="card-header">
                <a class="" href="/courses/{{ course.course_id }}">
                    Курс
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p class="car d-text">
                    {{ course.description | linebreaks}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% if request.user.is_admin %}
    <center>
        <a type="button" data-mdb-toggle="modal" data-mdb-target="#addCourseModal">
            <i class="fas fa-plus-circle fa-2x mb-3 mt-3" style="color: #bf01f4"></i>
        </a>
    </center>
    {% endif %}
</div>

{% if request.user.is_admin %}

{% include 'education/includes/courses_modal_window.html' %}

{% endif %}
{% endblock %}
