
                    <div class="tab-pane fade" id="navbarLogin-signup" role="tabpanel">

                        <!-- Default form register  -->
                        <form id="register" class="text-center" action="register" method="post"
                              novalidate="novalidate" data-dashlane-rid="faeca419098f0f69">

                            <input type="hidden" id="signonsecurity" name="signonsecurity"
                                   value="a707b380f4"><input
                                type="hidden" name="_wp_http_referer" value="/wp-admin/admin-ajax.php?p=120543">
                            <!-- Social login -->

                            <p class="status"></p>



                                <div class="wp-social-login-widget">

                                    <div class="wp-social-login-connect-with">Connect with:</div>

                                    <div class="wp-social-login-provider-list">

                                        <a rel="nofollow"
                                           href="https://mdbootstrap.com/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Facebook&amp;redirect_to=https%3A%2F%2Fmdbootstrap.com%2Fdocs%2Fstandard%2Fdesign-blocks%2Fmodals%2F"
                                           title="Connect with Facebook"
                                           class="wp-social-login-provider wp-social-login-provider-facebook btn btn-primary btn-floating mx-1"
                                           data-provider="Facebook" role="button"><i
                                                class="fab fa-facebook-f"></i></a>

                                        <a rel="nofollow"
                                           href="https://mdbootstrap.com/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Google&amp;redirect_to=https%3A%2F%2Fmdbootstrap.com%2Fdocs%2Fstandard%2Fdesign-blocks%2Fmodals%2F"
                                           title="Connect with Google"
                                           class="wp-social-login-provider wp-social-login-provider-google btn btn-primary btn-floating mx-1"
                                           data-provider="Google" role="button"><i
                                                class="fab fa-google"></i></a>

                                        <a rel="nofollow"
                                           href="https://mdbootstrap.com/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Twitter&amp;redirect_to=https%3A%2F%2Fmdbootstrap.com%2Fdocs%2Fstandard%2Fdesign-blocks%2Fmodals%2F"
                                           title="Connect with Twitter"
                                           class="wp-social-login-provider wp-social-login-provider-twitter btn btn-primary btn-floating mx-1"
                                           data-provider="Twitter" role="button"><i class="fab fa-twitter"></i></a>

                                    </div>

                                    <div class="wp-social-login-widget-clearing"></div>

                                </div>

                                <!-- wsl_render_auth_widget -->

                            </div>
                            <!-- Social login -->

                            <p class="text-center">or:</p>

                            <!-- Name input -->
                            <div class="form-outline form-auth-mdb mb-4">
                                <input type="text" id="signonname" class="form-control" name="signonname"
                                       data-dashlane-rid="30399589e69fc183">
                                <label for="signonname" class="form-label" style="margin-left: 0px;">Your
                                    name </label>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 68.8px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- Username input -->
                            <div class="form-outline form-auth-mdb mb-4">
                                <input type="text" id="signonusername" class="form-control"
                                       name="signonusername"
                                       data-dashlane-rid="de79f058989a9be2">
                                <label for="signonusername" class="form-label" style="margin-left: 0px;">Your
                                    username </label>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 93.6px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline form-auth-mdb mb-4">
                                <input type="email" id="email" class="form-control" name="email"
                                       data-dashlane-rid="44f87ae0b8453ec9">
                                <label for="email" class="form-label" style="margin-left: 0px;">Your
                                    email </label>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 68px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline form-auth-mdb mb-4">
                                <input type="password" id="signonpassword" class="form-control"
                                       name="signonpassword" autocomplete="off"
                                       data-dashlane-rid="8465ab07685aadc3">
                                <label for="signonpassword" class="form-label" style="margin-left: 0px;">Your
                                    password </label>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 92.8px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- Repeat Password input -->
                            <div class="form-outline form-auth-mdb mb-4">
                                <input type="password" id="password2" class="form-control" name="password2"
                                       autocomplete="off" data-dashlane-rid="365fd6e5124f622a">
                                <label for="password2" class="form-label" style="margin-left: 0px;">Repeat
                                    password </label>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 106.4px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- Subscribe checkbox -->
                            <div class="form-check d-flex justify-content-center">
                                <input type="checkbox" class="form-check-input me-1" id="newsletter"
                                       name="newsletter" value="subscribe" data-dashlane-rid="1aa89bd29050f9e3">
                                <label class="form-check-label" for="newsletter">I agree to sign up for MDB
                                    account
                                    notifications and newsletter</label>
                            </div>

                            <div class="form-text text-center small text-muted mb-4">
                                By signing up you agree to data processing by the administrator: StartupFlow
                                s.c.
                                located in Kijowska 7, Warsaw. The administrator processes data following the <a
                                    target="_blank" href="https://mdbootstrap.com/privacy-policy/">Privacy
                                Policy</a>.
                            </div>

                            <button class="btn btn-primary btn-block mb-3" id="AJAXAuthRegisterBtn"
                                    type="submit"
                                    value="SIGNUP" data-dashlane-rid="c279648018738e68">
                                Sign up
                            </button>

                        </form>
                        <!-- Default form register  -->
                    </div>
                    <!--/.Panel 2-->
                </div>
                <!-- Pills panels -->
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
        <!-- Modal content -->
    </div>
</div>
