{% extends "extends/index.html" %}
{% load static %}
{% block title %}
Дом
{% endblock %}

{% block style %}

{% endblock %}

{% block header %}
{% include 'education/includes/header.html' %}
{% endblock %}

{% block content %}
<main class="mt-5">
    <div class="container">
        {% include 'education/includes/description.html' %}
        <hr class="my-5"/>
        {% include 'education/includes/courses.html' %}
        <hr class="my-5"/>
        {% include 'education/includes/teachers.html' %}
        <hr class="my-5"/>
        {% include 'education/includes/login.html' %}
        <hr class="my-5"/>
        {% include 'education/includes/test.html' %}
    </div>

</main>
{% endblock %}
