<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://yastatic.net/s3/lyceum/frontend/static/40.0-rc-39c44ae1/desktop-ru/client.css">
    <link rel="stylesheet"
          href="https://yastatic.net/s3/lyceum/frontend/static/40.0-rc-39c44ae1/desktop-ru/material.css">
    <link rel="stylesheet" type="text/css"
          href="https://yastatic.net/s3/lyceum/frontend/static/40.0-rc-39c44ae1/desktop-ru/code-mirror-editor.css">
    <link rel="stylesheet"
          href="https://yastatic.net/s3/lyceum/frontend/static/40.0-rc-39c44ae1/desktop-ru/vendors.css">
</head>
{% block material %}

{% endblock %}