<div class="modal-dialog modal-lg  modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="CourseModalLabel" style="color: #000;">Редактировать курс</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" enctype="multipart/form-data" id="formFixCourse">
                {% csrf_token %}
                <input type="hidden" name="fixCourse" value="{{ course.pk }}"/>
                <div class="form-outline mb-4">
                    <input
                            type="text"
                            name="title"
                            id="titleCourse"
                            class="form-control"
                            data-mdb-showcounter="true"
                            maxlength="40"
                            value="{{ course.title }}"
                    />
                    <label class="form-label" for="titleCourse">Название курса</label>
                    <div class="form-helper"></div>
                </div>
                <div class="form-outline mb-4">
                    <input
                            type="text"
                            name="course_id"
                            id="idCourse"
                            class="form-control"
                            data-mdb-showcounter="true"
                            maxlength="100"
                            value="{{ course.course_id }}"
                    />
                    <label class="form-label" for="idCourse">Ссылка на курс</label>
                    <div class="form-helper"></div>
                </div>
                <div class="form-outline">
                        <textarea name="description" class="form-control" id="textAreaExample" rows="4"
                                  maxlength="256">{{ course.description}}</textarea>
                    <label class="form-label" for="textAreaExample">Краткое описание</label>
                </div>

                <select name="color" class="form-select mt-4" aria-label="Default select example" id="ColorCourse">
                    <option value="primary" {% if course.color == 'primary' %} selected {% endif %}>Синий</option>

                    <option value="secondary" {% if course.color == 'secondary' %} selected {% endif %}>Фиолетовый</option>

                    <option value="success" {% if course.color == 'success' %} selected {% endif %}>Зеленый</option>

                    <option value="danger" {% if course.color == 'danger' %} selected {% endif %}>Красный</option>

                    <option value="warning" {% if course.color == 'warning' %} selected {% endif %}>Желтый</option>

                    <option value="info" {% if course.color == 'info' %} selected {% endif %}>Голубой</option>

                    <option value="light" {% if course.color == 'light' %} selected {% endif %}>Прозрачный</option>

                    <option value="dark" {% if course.color == 'dark' %} selected {% endif %}>Черный</option>
                </select>
                <label class="form-label mt-4" for="customFile">Иконка для курса (Не обязательна)</label>
                <input name="photo" type="file" class="form-control mb-4" id="customFile" accept="image/*"/>
                <div class="form-check">
                    <input
                            name="show"
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                            {% if course.show %} checked {% endif %}
                     />
                    <label class="form-check-label" for="flexCheckDefault" style="color: black">
                        Показывать?
                    </label>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" form="formFixCourse">Добавить</button>
        </div>
    </div>
</div>