<section class="material__chapter">
    <h2 id="2">Установка фреймворка</h2>
    <h3>
        Pip
    </h3>
    <p>Начиная с версии Python 3.4, в составе исполняющей среды этого языка поставляется утилита pip, с помощью
        которой очень удобно выполнять установку любых дополнительных библиотек. Эта утилита самостоятельно ищет
        указанную при ее запуске библиотеку в штатном репозитории PyPI (Python Package Index, реестр пакетов Python) -
        интернет-хранилище самых разных библиотек для Python. Найдя запрошенную библиотеку, pip самостоятельно загружает
        и устанавливает наиболее подходящую ее редакцию, при этом загружая и устанавливая также и все библиотеки,
        которые она использует для работы.
    </p>
    <h3>
        Виртуальные среды
    </h3>
    <p>
        Виртуальные среды - неотъемлемая часть программирования на Python. Они представляют собой изолированный
        контейнер, содержащий все зависимости программного обеспечения для данного проекта. Этот
        важно, потому что по умолчанию разные библиотеки, устанавливается в одном
        каталоге. Это вызывает проблему, если вы хотите работать над несколькими проектами на одном компьютере. Что,
        если Проект_А использует Django 3.2, но Проект_Б с прошлого года все еще находится на Django 2.1? Без
        виртуальных сред это становится очень сложно.
    </p>
    <p>
        Есть много областей разработки программного обеспечения, о которых постоянно ведутся споры, но использование
        виртуальных сред для разработки на Python - не одна из них. Вы должны использовать новую виртуальную среду для
        каждого нового проекта Python.
    </p>
    <p>
        Исторически разработчики Python использовали virtualenv или pyenv для настройки виртуальных сред. Но в 2017 году
        известный разработчик Python Кеннет Рейц выпустил <a href="https://docs.pipenv.org/">Pipenv</a>, который теперь
        является официально рекомендованным инструментом упаковки Python.
    </p>
    <h3>Первый способ установки</h3>
    <p>
        Давайте установим pipenv
    </p>
    <pre><strong style="font-size:15px">Command Line</strong>
        <code>pip install pipenv
        </code>
    </pre>
    <p>
        Теперь создадим папку с нашим проектом, пусть будет DjangoProject
    </p>
    <pre><strong style="font-size:15px">Command Line</strong>
        <code>mkdir DjangoProject<br>
cd DjangoProject
        </code>
    </pre>
    <p>Теперь установим Djаngo используя pipenv</p>
    <pre><strong style="font-size:15px">Command Line</strong>
        <code>pipenv install django
        </code>
    </pre>
    <p>Если вы заглянете в наш каталог, то увидите два новых файла: <i>Pipfile</i> и <i>Pipfile.lock</i>. У нас есть
        информация,
        необходимая для новой виртуальной среды, но мы еще не активировали ее. Давайте сделаем это с помощью pipenv.
    </p>
    <pre><strong style="font-size:15px">Command Line</strong>
        <code>pipenv shell
        </code>
    </pre>
    <p>
        Если вы работаете на Mac, теперь вы должны увидеть круглые скобки в командной строке с активированной средой. Он
        будет иметь формат имени каталога и случайных символов. В моем случае это <i>DjangoProject-JmZ1NTQw</i>
    </p>
    <pre><strong style="font-size:15px">Command Line</strong>
        <code>(DjangoProject-JmZ1NTQw) $
        </code>
    </pre>
    <p>
        Значит, работает!
    </p>
    <h3>Второй способ</h3>
    <p>Рассказать про PyCharm</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <p>Теперь мы можем начинать разработку нашего первого веб-сайта.</p>
</section>