<section class="material__chapter">
    <h2 id="2">Установка фреймворка</h2>
    <p>Начиная с версии Python 3.4, в составе исполняющей среды этого языка поставляется утилита pip, с помощью
        которой очень удобно выполнять установку любых дополнительных библиотек. Эта утилита самостоятельно ищет
        указанную при ее запуске библиотеку в штатном репозитории PyPI (Python Package Index, реестр пакетов Python) -
        интернет-хранилище самых разных библиотек для Python. Найдя запрошенную библиотеку, pip самостоятельно загружает
        и устанавливает наиболее подходящую ее редакцию, при этом загружая и устанавливая также и все библиотеки,
        которые она использует для работы.
    </p>
    <p>Запустим командную строку и отдадим в ней команду на установку Django, которая вполне понята безо всяких
        комментариев:</p>
    <pre>
        <code class="language-python">pip install django
        </code>
    </pre>
    <p>
        Помимо Django, эта команда установит также библиотеку pytz, выполняющую обработку значений даты и времени с
        учетом временных зон и используемую упомянутым ранее фреймворком в работе. Не удаляйте эту библиотеку!
    </p>
    <p>
        Спустя некоторое время фреймворк будет установлен, о чем pip нам обязательно сообщит:
    </p>
    <pre>
        <code class="language-python">Successfully installed django-3.*.* pytz-2021.*
        </code>
    </pre>
    <p>Теперь мы можем начинать разработку нашего первого веб-сайта.</p>
</section>