<section class="material__chapter">
    <h2 id="4">Установка Git</h2>
    <p>
        Git - неотъемлемая часть современной разработки программного обеспечения. Это система контроля версий, которую
        можно рассматривать как чрезвычайно мощную версию отслеживания изменений в Microsoft Word или Google Docs. С
        помощью git вы можете сотрудничать с другими разработчиками, отслеживать всю свою работу с помощью коммитов и
        возвращаться к любой предыдущей версии вашего кода, даже если вы случайно удалили что-то важное!
    </p>

</section>