<section class="material__chapter">
    <h2 id="4">Установка и настройка Git</h2>
    <h3>Git</h3>
    <p>
        Git - неотъемлемая часть современной разработки программного обеспечения. Это система контроля версий, которую
        можно рассматривать как чрезвычайно мощную версию отслеживания изменений в Microsoft Word или Google Docs. С
        помощью git вы можете сотрудничать с другими разработчиками, отслеживать всю свою работу с помощью коммитов и
        возвращаться к любой предыдущей версии вашего кода, даже если вы случайно удалили что-то важное!
    </p>
    <h3>Установка</h3>
    <p>
        Скачать git нужно с <a href="https://git-scm.com/downloads">официального сайта</a> и затем установить следуя
        инструкции
    </p>
    <h3>Настройка</h3>
    <p>
        Вам нужно зарегистрироваться на сайте <a href="https://github.com/">github</a>,- крупнейшем в мире сервисе для
        совместной разработки.
    </p>
    <p>
        Заходим обратно в консоль и вводим всю информацию о нас
    </p>
    <pre><strong style="font-size:15px">Command Line</strong>
        <code>git config --global user.name "Your Name"
git config --global user.email "yourname@email.com"
        </code>
    </pre>
    <p>
        Вы также можете потом поменять эти значения
    </p>
    <p>
        Уф! На самом деле никому не нравится настраивать локальную среду разработки, но, к счастью, это разовая боль.
        Теперь мы научились работать с виртуальными средами и установили последнюю версию Django и git. Все готово для
        нашего первого сайта.
    </p>
</section>