<section class="material__chapter">
    <h2 id="4">Команда input()</h2>
    <p>Пока что все наши программы выводили на&nbsp;экран фразы, известные в&nbsp;момент написания кода. Но&nbsp;программы
        могут работать и&nbsp;с&nbsp;данными, которые станут известны только во&nbsp;время выполнения: например, их&nbsp;будет
        вводить пользователь с&nbsp;клавиатуры. Мы&nbsp;можем реализовать это так:</p>
    <pre><code class="language-python">print('Как тебя зовут?')
name = input()
print('Привет,', name)
</code></pre>
    <p>Запустите эту программу. Она выводит на&nbsp;экран строчку &laquo;Как тебя зовут?&raquo; и&nbsp;дальше ждет от&nbsp;пользователя
        ввода ответа на&nbsp;вопрос, ввода имени.</p>
    <p>Введите имя. Запустите еще раз. Введите чужое имя.</p>
    <p>Здесь используется команда <code>input()</code>.</p>
    <section class="material__note">
        <p class="material__note-heading"><strong>Команда input()</strong></p>
        <p>Она всегда пишется с&nbsp;круглыми скобками. Команда работает так: когда программа доходит до&nbsp;места, где
            есть <code>input()</code>, она ждет, пока пользователь введет строку с&nbsp;клавиатуры (ввод завершается
            нажатием клавиши Enter). Введенная строка подставляется на&nbsp;место <code>input()</code>.</p>
    </section>
    <p>То&nbsp;есть, если вы&nbsp;ввели &laquo;Аня&raquo;, программа дальше будет работать так, как будто на&nbsp;месте
        <code>input()</code> было написано &laquo;Аня&raquo;.</p>
    <p>Таким образом, <code>input()</code> получает от&nbsp;пользователя какие-то данные и&nbsp;в&nbsp;место вызова
        подставляет строковое значение, в&nbsp;нашем случае записывает его в&nbsp;качестве значения переменной
        <var>name</var>. Мы&nbsp;рассмотрим, что значит сохранить в&nbsp;значение переменной, а&nbsp;пока запомните:</p>
    <section class="material__note">
        <p>если нужно, чтобы программа что-то печатала на&nbsp;экране и&nbsp;это увидел пользователь,&nbsp;&mdash; <var>print</var>.
            Если нужно, чтобы пользователь что-то напечатал с&nbsp;клавиатуры и&nbsp;чтобы программа могла использовать
            эти данные,&nbsp;&mdash; <var>input()</var>.</p>
    </section>
</section>