<section class="material__chapter">
    <h2 id="2">Знакомство с&nbsp;IDE</h2>
    <p>Команды для интерпретатора можно писать в&nbsp;обычном текстовом редакторе (например, в&nbsp;&laquo;Блокноте&raquo;).
        Но&nbsp;чаще для этого пользуются специальной программой, которая называется <strong>средой разработки</strong>
        (англ. IDE, Integrated Development Environment). Среда разработки&nbsp;&mdash; тоже текстовый редактор, но&nbsp;с&nbsp;дополнительными
        возможностями. Например, она умеет сама находить на&nbsp;компьютере программу-интерпретатор и&nbsp;запускать
        одной кнопкой. Среда разработки, кроме того, форматирует написанный вами код, чтобы его удобно было читать, а&nbsp;иногда
        даже подсказывает, где вы&nbsp;допустили ошибку.</p>
    <p>На&nbsp;первом этапе мы&nbsp;будем использовать среду разработки Wing IDE. Ее&nbsp;можно скачать с&nbsp;<a
            class="material__link" href="http://www.wingware.com/downloads/wingide-101" target="_blank"
            rel="noopener noreferrer">сайта разработчика</a>, фирмы Wingware. В&nbsp;будущем вам может потребоваться
        более сложная и&nbsp;более богатая возможностями среда разработки. В&nbsp;этом случае мы&nbsp;рекомендуем
        использовать <a class="material__link" href="https://www.jetbrains.com/pycharm-edu/" target="_blank"
                        rel="noopener noreferrer">PyCharm</a>&nbsp;&mdash; продукт российской фирмы JetBrains.</p>
    <p>Ну&nbsp;что&nbsp;же, пора приступать к&nbsp;разработке программ. Для начала запустите среду разработки WingIDE.
        Давайте проверим настройки кодировок файлов. Эти настройки потребуются для корректной сдачи программ в&nbsp;тестирующую
        систему.</p>
    <ul>
        <li>Зайдите в&nbsp;меню <strong>Edit&nbsp;&rarr;&nbsp;Preferences</strong>. Перейдите к&nbsp;категории <strong>Files</strong>.
            Для опции <strong>Default Encoding</strong> выберите значение Unicode (UTF-8) utf-8.
        </li>
        <li>Зайдите в&nbsp;меню <strong>Edit&nbsp;&rarr;&nbsp;Preferences</strong>. Перейдите к&nbsp;категории <strong>Debugger&nbsp;&rarr;&nbsp;I/O</strong>.
            Для опции <strong>Debug I/O Encoding</strong> выберите значение Unicode (UTF-8) utf-8.
        </li>
    </ul>
    <p><strong>Примечание:</strong> на&nbsp;компьютерах с&nbsp;системой Mac OS&nbsp;вместо меню <strong>Edit</strong>
        необходимо открывать вкладку <strong>Wing 101</strong> или Cmd + &laquo;,&raquo;.</p>
    <section class="material__note">
        <p class="material__note-heading"><strong>PEP&nbsp;8</strong></p>
        <p>При оформлении программ мы&nbsp;будем пользоваться PEP&nbsp;8&nbsp;&mdash; Python Enhanced Proposal. Это
            документ, описывающий общепринятый (рекомендуемый) стиль написания программ на&nbsp;языке Python. Документ
            создан по&nbsp;рекомендациям Гвидо Ван Россума и&nbsp;Барри Уорсо, ознакомиться с&nbsp;материалами на&nbsp;русском
            языке можно, например, <a class="material__link" href="https://pep8.ru/doc/pep8/" target="_blank"
                                      rel="noopener noreferrer">тут</a>. В&nbsp;наших материалах мы&nbsp;будем отмечать
            рекомендации PEP&nbsp;8&nbsp;таким блоком.</p>
    </section>
    <p>Среды разработки могут помогать с&nbsp;форматированием по&nbsp;PEP&nbsp;8. Для включения такой возможности в&nbsp;Wing
        IDE зайдите в&nbsp;меню <strong>Edit&nbsp;&rarr;&nbsp;Preferences</strong>. Перейдите к&nbsp;категории <strong>Editor&nbsp;&rarr;&nbsp;PEP&nbsp;8</strong>.
        Для опции <strong>Auto-Reformat for PEP&nbsp;8</strong> выберите значение <strong>Lines After Edit</strong>.</p>
</section>