<section class="material__chapter">
    <h2 id="6">Трассировка</h2>
    <p><strong>Задача (для разбора).</strong> Предположим, у&nbsp;нас есть программа, которая входит в&nbsp;интерфейс
        сайта &laquo;Госуслуги&raquo; и&nbsp;служит для смены имени. Как будет работать эта программа, что она выведет
        при каком-либо пользовательском вводе?</p>
    <pre><code class="language-python">print('Введите фамилию:')
surname = input()
print('Введите имя:')
name = input()
print(name, surname)
print('Введите новое имя:')
new_name = input()
print(name, surname)
print(new_name, name)
name = new_name
print(new_name, name)
print(name, surname)
</code></pre>
    <p>Давайте немного изменим программу и&nbsp;посмотрим, что теперь получится.</p>
    <pre><code class="language-python">print('Введите фамилию:')
surname = input()
print('Введите имя:')
name = input()
print(name, surname)
print('Введите новое имя:')
new_name = input()
old_name = name
name = new_name
print(new_name, old_name)
print(name, surname)
</code></pre>
    <p>Если вы&nbsp;написали программу и&nbsp;не&nbsp;уверены в правильности ее написания, разберите, что она делает.
        Если не&nbsp;уверены, что все сделали правильно,&nbsp;&mdash; запустите и&nbsp;проверьте свои рассуждения.</p>
    <section class="material__note">
        <p class="material__note-heading"><strong>Комментарии</strong></p>
        <p>Для удобства можно использовать комментарии, которые позволяют программисту делать для себя пометки в&nbsp;коде
            или делать часть кода не&nbsp;выполнимой, не видимой для интерпретатора.</p>
        <p>Если вы&nbsp;начнете строчку со&nbsp;знака решетки <var>#</var>, интерпретатор Python будет игнорировать всю
            эту строчку. Программа будет выполняться так, как будто строчки нет. Такая строчка называется <strong>комментарием</strong>.
        </p>
    </section>
    <p>Комментарии нужны в&nbsp;двух случаях:</p>
    <ol>
        <li>Когда нужно добавить в&nbsp;программу какую-то пометку для человека, который будет читать эту программу
            (например, см. третью строчку guessing_game).
        </li>
        <li>Когда нужно убрать какую-то строчку кода, но&nbsp;удалять ее&nbsp;не&nbsp;хочется (например, потом&nbsp;ее,
            возможно, понадобится вернуть). Это называется &laquo;закомментировать&raquo; строчку.
        </li>
    </ol>
    <section class="material__note">
        <p class="material__note-heading"><strong>PEP&nbsp;8</strong></p>
        <p>&laquo;Встрочные&raquo; комментарии находятся в&nbsp;той&nbsp;же строке, что и&nbsp;инструкция. Они должны
            <strong>отделяться по&nbsp;крайней мере двумя пробелами</strong> от&nbsp;инструкции и&nbsp;начинаться с&nbsp;символа
            <var>#</var> и&nbsp;одного пробела.</p>
        <p>Комментарии в&nbsp;строке с&nbsp;кодом не&nbsp;нужны и&nbsp;только отвлекают от&nbsp;чтения, если они
            объясняют очевидное.</p>
        <p><strong>Правильно:</strong></p>
        <pre><code class="language-python">x = x + 1  # компенсация границы
</code></pre>
        <p><strong><span style="text-decoration: line-through;">Неправильно:</span></strong></p>
        <pre><code class="language-python">x = x + 1  # увеличение на единицу
</code></pre>
    </section>
    <p>Если нужно закомментировать сразу несколько строчек подряд, не&nbsp;делайте это вручную. Выделите эти строчки и&nbsp;выберите
        <strong>Source&nbsp;&rarr;&nbsp;Toggle block comment</strong> (там&nbsp;же можно убрать комментирование).</p>
    <p>Заметьте, что в&nbsp;конце guessing_game на&nbsp;отдельной строчке стоит знакомая команда <code>input()</code>.
        Зачем она нужна?</p>
    <p>Ответ: когда запускаешь программу двойным кликом, окно с&nbsp;программой закрывается сразу, как только программа
        заканчивает работу. Если программа что-то выводит на&nbsp;экран в&nbsp;конце работы, пользователь этого не&nbsp;увидит.
        А&nbsp;так программа ждет, пока пользователь нажмет клавишу Enter. Конечно, он&nbsp;может что-то ввести, но&nbsp;это
        неважно&nbsp;&mdash; мы&nbsp;все равно никак не&nbsp;используем этот ввод. Попробуйте закомментировать последнюю
        строчку guessing_game и&nbsp;запустить программу из&nbsp;проводника двойным кликом.</p>
    <p>Заметьте: если запустить программу, у&nbsp;которой в&nbsp;конце <code>input()</code>, из&nbsp;редактора Wing IDE,
        в&nbsp;конце ее&nbsp;работы придется лишний раз нажать Enter, хотя в&nbsp;этом и&nbsp;нет необходимости.</p>
    <p>Попробуйте запустить программу hello или любую другую из&nbsp;своих старых программ двойным кликом&nbsp;&mdash;
        сначала в&nbsp;исходном виде, потом с&nbsp;<code>input()</code> в&nbsp;конце.</p>
</section>