<section class="material__chapter">
    <h2 id="5">Переменные</h2>
    <p>Команду <code>name = input()</code> можно считать так: &laquo;Подожди, пока пользователь введет какую-то строку и&nbsp;помести
        введенную строку в&nbsp;переменную <var>name</var>&raquo;.</p>
    <p>Попробуем разобраться, что это значит. Переменные имеют имя и&nbsp;значение.</p>
    <section class="material__note">
        <p class="material__note-heading"><strong>Имя переменной</strong></p>
        <p>Имя переменной должно отражать ее&nbsp;назначение и&nbsp;может состоять из&nbsp;латинских букв, цифр и&nbsp;символа
            подчеркивания.</p>
        <p>Имя не&nbsp;может начинаться с&nbsp;цифры.</p>
    </section>
    <section class="material__note">
        <p class="material__note-heading"><strong>PEP&nbsp;8</strong></p>
        <p>Для именования переменных принято использовать стиль lower_case_with_underscores (слова из&nbsp;маленьких
            букв с&nbsp;подчеркиваниями).</p>
        <p>Избегайте использовать такие символы, которые могут не&nbsp;однозначно трактоваться в&nbsp;различных шрифтах:
            это буква <strong>О</strong>&nbsp;(большая и&nbsp;маленькая) и&nbsp;цифра&nbsp;<strong>0</strong>, буква
            <strong>I</strong>&nbsp;(большая и&nbsp;маленькая) и&nbsp;цифра <strong>1</strong>. Нельзя использовать в&nbsp;качестве
            имени переменной и&nbsp;ключевые слова, которые существуют в&nbsp;языке.</p>
    </section>
    <p>В&nbsp;вышеописанном примере переменная содержит в&nbsp;себе имя пользователя, поэтому мы&nbsp;назвали
        ее&nbsp;<var>name</var> (имя). Обратите внимание: слово <var>name</var> не&nbsp;подсвечено никаким цветом&nbsp;&mdash;
        в&nbsp;Python это слово ничего не&nbsp;обозначает. Оно что-то значит только в&nbsp;этой программе и&nbsp;только
        потому, что мы&nbsp;употребили оператор присваивания. При этом интерпретатору совершенно неважно, что значит
        слово <var>name</var> в&nbsp;английском языке, и&nbsp;мы&nbsp;с&nbsp;тем&nbsp;же успехом могли использовать
        любое другое имя: например, <var>user</var> (&laquo;пользователь&raquo;) или просто&nbsp;<var>n</var>, или даже
        <var>hello</var>. За&nbsp;имена переменных отвечает программист, то&nbsp;есть&nbsp;вы.</p>
    <p>Соблюдайте правило: если в&nbsp;переменной хранится приветствие, пусть она так и&nbsp;называется, если имя&nbsp;&mdash;
        пусть она и&nbsp;называется соответственно.</p>
    <section class="material__note">
        <p class="material__note-heading"><strong>Значение переменной</strong></p>
        <p>Значение переменной&nbsp;&mdash; то, что сохраняет в&nbsp;себе переменная.</p>
        <p>Знак &laquo;=&raquo; обозначает команду под названием &laquo;оператор присваивания&raquo;. Оператор
            присваивания присваивает значение, которое находится справа от&nbsp;знака равно, переменной, которая
            находится слева от&nbsp;знака равно.</p>
    </section>
    <p>В&nbsp;нашем случае это&nbsp;то, что поместил в&nbsp;нее пользователь командой <code>input()</code>. Это
        текстовое значение&nbsp;&mdash; строка. То&nbsp;есть переменная сохраняет в&nbsp;себе строковое значение.
        Говорят, что переменная строкового типа.</p>
    <section class="material__note">
        <p class="material__note-heading"><strong>PEP&nbsp;8</strong></p>
        <p>Всегда окружайте оператор присваивания одним пробелом с&nbsp;каждой стороны:</p>
        <p><strong>Правильно:</strong></p>
        <pre><code class="language-python">bird = "Тук-тук"
</code></pre>
        <p><strong><span style="text-decoration: line-through;">Неправильно:</span></strong></p>
        <pre><code class="language-python">bird="Тук-тук"
</code></pre>
    </section>
    <p>Еще пример:</p>
    <pre><code class="language-python">print('Какая твоя любимая еда?')
meal = input()
print('Да.', meal, '- это вкусно.')
</code></pre>
    <p>Обратите внимание: интерпретатор ждет, что пользователь что-то введет с&nbsp;клавиатуры ровно столько раз,
        сколько команд <code>input()</code> встречается в&nbsp;программе. Каждый <code>input()</code> завершается
        нажатием Enter на&nbsp;клавиатуре.</p>
    <pre><code class="language-python">print('Как тебя зовут?')
name = input()
print('Привет,', name)
print('А какая твоя любимая еда?')
meal = input()
print('Да.', meal, '- это вкусно.')
</code></pre>
    <p>Мы&nbsp;задали значение переменной. И&nbsp;что&nbsp;же, оно никогда не&nbsp;меняется? Конечно, в&nbsp;двух разных
        программах могут быть переменные с&nbsp;одинаковыми названиями, но&nbsp;разными значениями. Но&nbsp;могут&nbsp;ли
        в&nbsp;пределах одной программы под одним именем быть разные значения?</p>
    <p>Да! Оператор присваивания сообщает переменной то&nbsp;или иное значение независимо от&nbsp;того, была&nbsp;ли эта
        переменная введена раньше. Вы&nbsp;можете менять значение переменной, записав еще один оператор присваивания.
        Если у&nbsp;нас имеется переменная, мы&nbsp;можем делать с&nbsp;ее&nbsp;значением все что угодно&nbsp;&mdash;
        например, присвоить другой переменной:</p>
    <pre><code class="language-python">hello = 'Здравствуйте.'
hello2 = hello
print(hello2)
</code></pre>
    <section class="material__note">
        <p>Итак, если вы&nbsp;хотите, чтобы у&nbsp;вас была <strong>переменная с&nbsp;каким-то именем и&nbsp;каким-то
            значением</strong>, нужно написать на&nbsp;отдельной строчке:</p>
        <pre><code class="language-python">&lt;имя переменной&gt; = &lt;значение переменной&gt;
</code></pre>
        <p>Как только эта команда выполнится, в&nbsp;программе появится указанная переменная с&nbsp;таким значением.</p>
        <p><strong>Помните:</strong> команды выполняются последовательно, в&nbsp;том&nbsp;же порядке, в&nbsp;котором они
            написаны.</p>
    </section>
    <p>А&nbsp;теперь <strong>смоделируем небольшой взлом программы</strong>.</p>
    <p>Загрузите файл <a class="material__link" href="https://yastatic.net/s3/lyceum/content/resources/guessing_game.py"
                         target="_blank" rel="noopener noreferrer">guessing_game.py</a>. Это тоже программа на&nbsp;Python.
        Для начала просто запустите&nbsp;ее (двойным кликом). Как видите, это игра-угадайка. Шанс угадать невелик, у&nbsp;кого
        получится&nbsp;&mdash; тот везучий. Как&nbsp;бы облегчить выигрыш?</p>
    <p>Теперь откройте эту программу в&nbsp;редакторе. Это делается не&nbsp;двойным кликом, а&nbsp;кликом правой кнопкой
        и&nbsp;выбором пункта <strong>Edit with Wing IDE</strong> (или <strong>Редактировать с&nbsp;помощью Wing
            IDE</strong>). Смысл некоторых строчек этой программы вы&nbsp;уже знаете. О&nbsp;других скоро узнаете или
        сможете догадаться.</p>
    <p>Сейчас мы&nbsp;научимся жульничать в&nbsp;игре путем изменения этой программы. Конечно, можно было&nbsp;бы
        заменить всю программу единственной строчкой&nbsp;&mdash; поздравлением с&nbsp;победой. Но&nbsp;мы&nbsp;будем
        считать, что менять можно только одну строчку&nbsp;&mdash; ту, которая сейчас пуста. Мы&nbsp;можем вписать туда
        любую команду.</p>
    <p>Мы&nbsp;знаем, что к&nbsp;тому моменту, когда выполнение программы доходит до&nbsp;пустой строчки, в&nbsp;переменной
        под названием <var>planet</var> лежит название загаданной планеты. Сделайте так, чтобы в&nbsp;этот момент оно
        выводилось прямо на&nbsp;экран,&nbsp;&mdash; тогда игроку останется лишь повторить название для победы (это
        потребуется вам в&nbsp;задаче &laquo;Взлом планетной угадайки&raquo;).</p>
</section>