<section class="material__chapter">
    <h2 id="1">Введение</h2>
    <p><strong>Программа</strong> &mdash; список команд, то есть инструкций для компьютера:</p>
    <ul>
        <li>отобразить что-нибудь на экране,</li>
        <li>вычислить что-нибудь</li>
    </ul>
    <p>и т. д.</p>
    <p>В вашем компьютере много разных программ. Программа-браузер показывает вам страницы в Интернете,
        программа-плеер проигрывает музыку, Word позволяет редактировать тексты, игры развлекают вас, вирусы мешают
        &mdash;
        и все это программы. Чтобы создать страницу на сайте в Интернете, которую получит и покажет
        ваш браузер (например, вашу страничку &laquo;ВКонтакте&raquo; или результаты поиска в Яндексе), компьютер,
        на котором работает этот сайт, часто тоже выполняет какую-то программу.</p>
    <p>Есть разные способы записать программу. Однако наиболее удобная для компьютера форма записи в виде машинного
        кода неудобна для человека. Поэтому для составления программ придумали языки программирования.</p>
    <section class="material__note">
        <p class="material__note-heading"><strong>Язык программирования</strong></p>
        <p>Язык программирования &mdash; набор строгих правил, согласно которым компьютер может понимать команды и
            выполнять их.
            Текст программы, написанной на любом языке программирования, называется <strong>программным
                кодом</strong> (или просто кодом).</p>
    </section>
    <p>Языки программирования бывают двух основных типов: компилируемые и интерпретируемые. Если программа написана
        на компилируемом языке (например, Pascal или C++), перед ее выполнением нужно сначала полностью
        проверить на некоторые ошибки и перевести в более понятную для компьютера форму. Это делает
        специальная программа &mdash; компилятор.</p>
    <p>Если программа написана на интерпретируемом языке (например, Java или Python), она не переводится
        целиком в машинный код, а специальная программа &mdash; интерпретатор &mdash; идет по коду,
        анализирует и выполняет каждую отдельную команду. Такой подход придает языку особую гибкость и простоту
        в написании программ.</p>
    <p>Язык Python, который мы сейчас начнем изучать, разработал голландский программист Гвидо Ван Россум (Guido
        van Rossum) в 1991 году. Не подумайте, что язык назван в честь змеи-питона: Гвидо был
        большим фанатом британского комедийного сериала &laquo;Летающий цирк Монти Пайтона&raquo; (англ. Monty Python&rsquo;s
        Flying Circus), и именно оттуда пришло название языка. В настоящее время в русском языке для
        обозначения используют два варианта &mdash; &laquo;Питон&raquo; и &laquo;Пайтон&raquo;.</p>
    <p>Python относится к интерпретируемым языкам программирования: чтобы запустить написанную на Python
        программу, нужен интерпретатор Python (его можно скачать с сайта <a class="material__link"
                                                                            href="http://python.org/"
                                                                            target="_blank"
                                                                            rel="noopener noreferrer">python.org</a>).
        Подробнее об установке языка Python смотрите в видеоинструкции к уроку.</p>
</section>