<section class="material__chapter">
    <h2 id="1">Введение</h2>
    <p><strong>Программа</strong>&nbsp;&mdash; список команд, то&nbsp;есть инструкций для компьютера:</p>
    <ul>
        <li>отобразить что-нибудь на&nbsp;экране,</li>
        <li>вычислить что-нибудь</li>
    </ul>
    <p>и&nbsp;т. д.</p>
    <p>В&nbsp;вашем компьютере много разных программ. Программа-браузер показывает вам страницы в&nbsp;Интернете,
        программа-плеер проигрывает музыку, Word позволяет редактировать тексты, игры развлекают вас, вирусы мешают&nbsp;&mdash;
        и&nbsp;все это программы. Чтобы создать страницу на&nbsp;сайте в&nbsp;Интернете, которую получит и&nbsp;покажет
        ваш браузер (например, вашу страничку &laquo;ВКонтакте&raquo; или результаты поиска в&nbsp;Яндексе), компьютер,
        на&nbsp;котором работает этот сайт, часто тоже выполняет какую-то программу.</p>
    <p>Есть разные способы записать программу. Однако наиболее удобная для компьютера форма записи в&nbsp;виде машинного
        кода неудобна для человека. Поэтому для составления программ придумали языки программирования.</p>
    <section class="material__note">
        <p class="material__note-heading"><strong>Язык программирования</strong></p>
        <p>Язык программирования&nbsp;&mdash; набор строгих правил, согласно которым компьютер может понимать команды и&nbsp;выполнять&nbsp;их.
            Текст программы, написанной на&nbsp;любом языке программирования, называется <strong>программным
                кодом</strong> (или просто кодом).</p>
    </section>
    <p>Языки программирования бывают двух основных типов: компилируемые и&nbsp;интерпретируемые. Если программа написана
        на&nbsp;компилируемом языке (например, Pascal или&nbsp;C++), перед ее&nbsp;выполнением нужно сначала полностью
        проверить на&nbsp;некоторые ошибки и&nbsp;перевести в&nbsp;более понятную для компьютера форму. Это делает
        специальная программа&nbsp;&mdash; компилятор.</p>
    <p>Если программа написана на&nbsp;интерпретируемом языке (например, Java или Python), она не&nbsp;переводится
        целиком в&nbsp;машинный код, а&nbsp;специальная программа&nbsp;&mdash; интерпретатор&nbsp;&mdash; идет по&nbsp;коду,
        анализирует и&nbsp;выполняет каждую отдельную команду. Такой подход придает языку особую гибкость и&nbsp;простоту
        в&nbsp;написании программ.</p>
    <p>Язык Python, который мы&nbsp;сейчас начнем изучать, разработал голландский программист Гвидо Ван Россум (Guido
        van Rossum) в&nbsp;1991&nbsp;году. Не&nbsp;подумайте, что язык назван в&nbsp;честь змеи-питона: Гвидо был
        большим фанатом британского комедийного сериала &laquo;Летающий цирк Монти Пайтона&raquo; (англ. Monty Python&rsquo;s
        Flying Circus), и&nbsp;именно оттуда пришло название языка. В&nbsp;настоящее время в&nbsp;русском языке для
        обозначения используют два варианта&nbsp;&mdash; &laquo;Питон&raquo; и &laquo;Пайтон&raquo;.</p>
    <p>Python относится к&nbsp;интерпретируемым языкам программирования: чтобы запустить написанную на&nbsp;Python
        программу, нужен интерпретатор Python (его можно скачать с&nbsp;сайта <a class="material__link"
                                                                                 href="http://python.org/"
                                                                                 target="_blank"
                                                                                 rel="noopener noreferrer">python.org</a>).
        Подробнее об&nbsp;установке языка Python смотрите в&nbsp;видеоинструкции к&nbsp;уроку.</p>
</section>