<section class="material__chapter">
    <h2 id="3">Команда print()</h2>
    <p>А&nbsp;теперь изучим команду вывода на&nbsp;экран. Для вывода на&nbsp;экран используется команда
        <code>print()</code>.</p>
    <section class="material__note">
        <p class="material__note-heading"><strong>Команда print()</strong></p>
        <p>Внутри круглых скобок через запятую мы&nbsp;указываем&nbsp;то, что необходимо вывести на&nbsp;экран. Если это
            какой-то текст, указываем его внутри кавычек. Кавычки могут быть как одинарными, так и&nbsp;двойными.
            Главное, чтобы текст начинался и&nbsp;заканчивался кавычками одного типа. Команда <var>print</var>
            записывается только строчными буквами, другое написание недопустимо, так как в&nbsp;Python строчные и&nbsp;заглавные
            буквы различны.</p>
    </section>
    <p>Создайте в&nbsp;среде новый файл и&nbsp;напишите в&nbsp;нем команду вывода на&nbsp;экран слова &laquo;Привет!&raquo;
        Команда будет выглядеть так:</p>
    <pre><code class="language-python">print('Привет!')
</code></pre>
    <p>Обратите внимание: слово <var>print</var> в&nbsp;Wing выделено голубым цветом, а&nbsp;слово &laquo;Привет!&raquo;&nbsp;&mdash;
        фиолетовым. В&nbsp;среде Wing IDE используется цветовое выделение синтаксиса. Все стандартные команды и&nbsp;функции
        выделяются синим и&nbsp;голубым цветом, фиолетовым цветом выделяются текстовые данные&nbsp;&mdash; строки,
        заключенные в&nbsp;кавычки.</p>
    <section class="material__note">
        <p class="material__note-heading"><strong>PEP&nbsp;8</strong></p>
        <p>Избегайте использования пробелов cразу перед открывающей скобкой, после которой начинается список аргументов
            функции.</p>
        <p><strong>Правильно:</strong></p>
        <pre><code class="language-python">print('Привет!')
</code></pre>
        <p><strong><s>Неправильно:</s></strong></p>
        <pre><code class="language-python">print ('Привет!')
</code></pre>
    </section>
    <p>Настало время запустить первую программу. Однако кнопка запуска <strong>Run</strong> <img
            src="https://yastatic.net/s3/anytask/content/run.png" alt="" width="31" height="33"/> пока недоступна. Перед
        запуском необходимо сохранить файл на&nbsp;диск.</p>
    <p>Вы&nbsp;будете писать много программ, только за&nbsp;первый год обучения их&nbsp;будет более 500, поэтому для
        удобства создавайте для каждого урока свою папку, в&nbsp;которой будете хранить программы этого урока, а&nbsp;сами
        файлы с&nbsp;программами называйте так, чтобы было понятно, о&nbsp;какой задаче идет речь. Назовите данный файл
        hello и&nbsp;сохраните его. Теперь стала доступна кнопка запуска. Запустите программу.</p>
</section>