{% extends "extends/index.html" %}
{% load static %}
{% block title %}
{{ task.title }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">
{% endblock %}

{% block content %}
<p class="task-title">
    {{ task.title }}
</p>
<div class="task-container">
    <div class="task">
        <div class="description">
            {% autoescape off %}
            {{ task.description|linebreaks }}
            {% endautoescape %}
        </div>
        {% for example in task.examples.all %}
        <div class="example-container">
            <div class="input">
                {{ example.input }}
            </div>
            <div class="output">
                {{ example.output }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="code">
        code
    </div>
</div>
{% if request.user.teacher %}
{% include 'education/task/example_modal_window.html' %}
{% endif %}
{% endblock %}
