<center class="mt-5"><h2>Материалы урока</h2></center>
<div class="lesson-container">
    <div class="material-card card-2">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="card__apply">
            <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
        </p>
    </div>
    <div class="material-card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="card__apply">
            <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
        </p>
    </div>
    <div class="material-card card-3">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="card__apply">
            <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
        </p>
    </div>
    <div class="material-card card-4">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="card__apply">
            <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
        </p>
    </div>
    <div class="material-card card-5">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="card__apply">
            <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
        </p>
    </div>
</div>
