{% load custom_tags %}
<center class="mt-5"><h2>Задачи</h2></center>
<div class="lesson-container">
    {% for task in lesson.tasks|my_sort:'pk' %}
    <div class="lesson-card">
        <div class="lesson-circle" style="background:{{task.color}}">
            <h2>
                {% if forloop.counter > 9 %}
                {{ forloop.counter }}
                {% else %}
                0{{ forloop.counter }}
                {% endif %}
            </h2>
        </div>
        <div class="lesson-content">
            <p>
                {% autoescape off %}
                {{ task.description|split_to:112|linebreaksbr }}
                {% endautoescape %}
            </p>
            <a href="{{ forloop.counter }}" style="background:{{ task.color }}" class="lesson-button">
                {{ task.title }}{% if task in paid_lesson.solved_tasks.all %} <i class="fas fa-check"></i>{% endif %}
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% if request.user.teacher %}
{% include 'education/lesson/task_modal_window.html' %}
{% endif %}