{% if request.user == user %}
{% if ended or not_ended %}
<hr class="my-5"/>
<div class="row">
    <h2 class="ms-4" style="width:80%;">
        Твои курсы:
    </h2>
    {% if not_ended %}

    <div class="row d-flex justify-content-center">
        {% for group in not_ended %}
        <div class="card text-white bg-{{ group.course.color }} mb-3 mt-2" style="max-width: 30rem; cursor: pointer;" onclick="window.location='/courses/{{ group.course.course_id }}';">
            <div class="card-header">Курс</div>
            <div class="card-body">
                <h5 class="card-title">{{ group.course.title }}</h5>
                <div class="card-text">
                    {{ group.course.description | linebreaks}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if ended %}
    <h3 class="ms-5">
        Законченные:
    </h3>

    <div class="row d-flex justify-content-center">
        {% for group in ended %}
        <div class="card text-white bg-{{ group.course.color }} mb-3 mt-2 ms-3 me-3" style="max-width: 30rem;">
            <div class="card-header">Курс</div>
            <div class="card-body">
                <h5 class="card-title">{{ group.course.title }}</h5>
                <div class="card-text">
                    {{ group.course.description | linebreaks}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
{% endif %}