@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.course-description {
    margin-inline: 7.5%;
    background: radial-gradient(#CBBCFD, #CBBCFD);
    font-size: 1.1em;
}

.course-description p {
    color: light-gray;
}

.courses-container {
    font-family: 'Inter', sans-serif;
    position: relative;
    width: 100%;
    padding 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.course {
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	overflow: hidden;
	width: 85%;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h4 {
	letter-spacing: 1px;
	margin: 10px 0;
	max-width: 80%;
}

.course-preview {
	background-color: #484289;
	color: #fff;
	padding: 30px;
	width: 30%;
	min-width: 250px;
}

.course-preview a {
	display: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 80%;
}


@media screen and (max-width: 720px) {
    .course-info {
        display: none !important;
    }
    .course-preview {
        width: 100%;
    }
    .course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
    }
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #325596;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 70%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.course-btn {
	background-color: #28359a;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}
