.card-animation:hover {
    width: 100px;
    height: 100px;
    background: grey;
    transition: all ease-in 600ms;

}
.card-animation {
    width: 100px;
    height: 100px;
}


.teacher-card .glass::before
{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    transform: skewX(345deg);
}
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #fff;
  text-shadow: 0 15px 60px rgba(0, 0, 0, .5);
}

.container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}

.container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 {
  background: #111;
  transition: .5s;
}

.container .card:first-child .face.face2 {
  background: #000;
}

.container .card:nth-child(2) .face.face2 {
  background: #000;
}

.container .card:last-child .face.face2 {
  background: #000;
}

.container .card:hover .face.face2 {
  height: 60px;
}

.container .card .face.face2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, .1);
}

.container .card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #ffffff;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.container .card:hover .face.face2 h2 {
  font-size: 2em;
}

.lesson-container
{
    position: relative;
    width: 100%;
    padding 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.lesson-container .lesson-card
{
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.lesson-container .lesson-card .lesson-circle
{
    position: relative;
    width:100%;
    height:100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}
.lesson-container .lesson-card .lesson-circle h2
{
    color: #fff;
    font-size:4.5em;
    padding: 20px;
}
.lesson-container .lesson-card .lesson-content
{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}
.lesson-container .lesson-card .lesson-content p
{
    color: #666;
}
.lesson-container .lesson-card .lesson-content .lesson-button
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}
/*.typing-text {
    font-family: consolas;
    transition: 0.5s;
    border-right: 1px solid;

    animation: typing 5s steps(9) infinite;
}
.typing-text:hover {

}
@keyframes typing {
    0%
    {
        width: 0px;
    }
    30%
    {
        width: 77.47px;
    }
}*/
