.task-container {
    padding: 20px;
    display: table;
    width: 100%;
}
.task-container div {
    display: table-cell;
    margin-inline-end: 10px;
}
.task-title{
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom:-10px;
    margin-top:10px;
}
.task {
    width:50%;
}

.task .description {
    display: block;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    background: radial-gradient(#C1E3FF, #ABC7FF);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.task .description p {
    font-size: 1.1em;
}